.form {
    margin: 10px 0 10px 0;;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
        width: 200px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 5px;
    }

    button {
        font-weight: bold;
        width: 90px;
        height: 25px;
        border: 2px solid grey;
        border-radius: 5px;
        background-color: rgb(32, 29, 29);

        box-shadow: 0 2px #999;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(31, 29, 29);
        // box-shadow: 0 12px 16px 0 rgba(243, 236, 236, 0.24);
    }

    button:active {
        background-color: rgb(19, 16, 16);
        box-shadow: 0 1px #666;
        transform: translateY(2px);
    }

}