.output {
    margin: 0 20px;

    display: flex;
    justify-content: center;

    border: dotted grey;
    border-width: 1px 0 0 0;

    text-align: left;

    .makeItBold {
        font-weight: bold;
        color: darkorange;
    }

    td {
        padding: 2px 5px;
    }

    .message {
        margin: 10px;
        border: 1px dotted lightgrey;
        border-radius: 5px;
        width: 400px;
        font-size: small;
        padding-left: 5px;

        .fromTheServer {
            color: blue;
        }

    }
}