.intro {
    margin: 0 20px;

    border: dotted grey;
    border-width: 0 0 1px 0;

    text-align: left;
    font-size: small;

    // width: 700px;

    span {
        font-weight: bold;
        text-decoration: underline;
    }
}