* {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 70px;

  background-color: #282c34;
  font-size: 20px;
  color: white;

  p {
    background-color: #282c34;
    font-weight: bold;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
